.container-fluid
  .row
    .col-lg-12
      %h1.page-header
        = 'Testimonials'
  - unless @testimonials.empty?
    - @testimonials.where(featured: true).each do |testimonial|
      %row
        .col-md-4
          = image_fu testimonial.photo, '500x500#c', class: 'img-responsive'
        .col-md-8
          = testimonial.description.html_safe
          .testimonial-client{:style => 'text-align: right'}= "-#{testimonial.refinery_clients.name_or_company.html_safe}"
  - else
    %row
      .col-md-12
        - if @testimonials.empty?
          %h1 No Testimonials Yet. Click |
          #{link_to "here", refinery.new_clients_admin_testimonial_path, 'data-no-turbolink' => true, style:"color:red"} |
          to add one |

          %h3 (Each Testimonial must have a client)

        - else
          %h1
            No Featured Testimonial Yet. There is/are currently #{@testimonials.count} testimonial(s).
          %div
            %h3 In order for a testimonial to show up on the front page the following parameters must be met:
            %h6 (These need to be performed from the administration side.)
            %ul
              %li
                A Testimonial must be created from the administation side
              %li
                The Testimonial must be a 'featured' testimonial
              %li
                A Project must be created with the given Testimonial
              %li
                The Project must have a 'main image' for that Image to show up on the home page
  %hr