<% content_for :body_content_title do %>
  <%= @testimonial.client %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Client</h1>
    <p>
      <%=raw @testimonial.client %>
    </p>
  </section>
  <section>
    <h1>Photo</h1>
    <p>
      <%= image_fu @testimonial.photo, nil %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @testimonial.description %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="testimonials">
      <% @testimonials.each do |testimonial| %>
        <li>
          <%= link_to testimonial.client, refinery.clients_testimonial_path(testimonial) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
