%ul
  - if ::Refinery::Clients::Admin::TestimonialsController.searchable?
    %li
      = render '/refinery/admin/search', :url => refinery.clients_admin_testimonials_path
  %li
    = action_label :add, refinery.new_clients_admin_testimonial_path, t('.create_new')
  - if !searching? && ::Refinery::Clients::Admin::TestimonialsController.sortable? && ::Refinery::Clients::Testimonial.many?
    %li
      = action_label :reorder,                                     
        refinery.clients_admin_testimonials_path,                  
        t('.reorder', what:  "Testimonials"), id: 'reorder_action' 
      = action_label :reorder_done,                                                          
        refinery.clients_admin_testimonials_path,                                            
        t('.reorder_done', what: "Testimonials"), id: 'reorder_action_done', class: 'hidden' 
