= form_for [refinery, :clients_admin, @testimonial] do |f|
  = render '/refinery/admin/error_messages',
    :object => @testimonial,
    :include_object_name => true
  .field
    = f.label :client
    = f.select(:refinery_clients_id, @clients.collect { |d| [d.full_name, d.id] }, :prompt => "Select Existing Client")
  .field
    = f.label :alt_client
    = f.text_field :alt_client, :class => 'larger widest'
  .field
    = f.label :featured do
      Featured Testimonial?
      \#{f.check_box :featured}
      \#{refinery_help_tag "This Testimonial will show up in the Front-End"}
  .field
    = f.label :photo
    = render '/refinery/admin/image_picker',
      :f => f,
      :field => :photo_id,
      :image => @testimonial.photo,
      :toggle_image_display => false
  .field
    = render '/refinery/admin/wysiwyg',
      :f => f,
      :fields => [:description],
      :object => "clients/testimonial"
  = render '/refinery/admin/form_actions', :f => f,
    :continue_editing => false,
    :delete_title => t('delete', :scope => 'refinery.testimonials.admin.testimonials.testimonial'),
    :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @testimonial.client)
- content_for :javascripts do
  :javascript
    $(document).ready(function () {
      page_options.init(false, '', '');
    });
