= render 'refinery/admin/search_header', :url => refinery.clients_admin_testimonials_path
.pagination_container
  - if @testimonials.any?
    = render 'testimonials'
  - else
    %p
      - if searching?
        = t('no_results', :scope => 'refinery.admin.search')
      - else
        %strong
          = t('.no_items_yet')
