%ul#sortable_list
  = render :partial => 'testimonial', :collection => @testimonials
= render '/refinery/admin/sortable_list',
  :continue_reordering => (local_assigns.keys.include?(:continue_reordering)) ? continue_reordering : true
