%li{:class => "clearfix record #{cycle("on", "on-hover")}", :id => "#{dom_id(testimonial)}"}
  %span.title
    = testimonial.client_name
  %span.actions
    = action_icon(:preview, refinery.clients_testimonial_path(testimonial), t('.view_live_html'))
    = action_icon(:edit,    refinery.edit_clients_admin_testimonial_path(testimonial), t('.edit') )
    = action_icon(:delete,  refinery.clients_admin_testimonial_path(testimonial), t('.delete'),
      { class: "cancel confirm-delete",
      data: {confirm: t('message',  scope: 'refinery.admin.delete', title: testimonial.client)}}  )
