%section#records
  = render 'records'
%aside#actions
  = render 'actions'
= render '/refinery/admin/make_sortable', options: {tree: false} if !searching? and ::Refinery::Clients::Admin::TestimonialsController.sortable? and ::Refinery::Clients::Testimonial.many?
