.row
  .col-md-12
    = f.label :line1, 'Address 1'
    = f.text_field :line1, class: 'form-control'
.row
  .col-md-12
    = f.label :line2, 'Address 2'
    = f.text_field :line2, class: 'form-control'
.row
  .col-md-3
    = f.label :zip, 'Zip Code'
    = f.text_field :zip, class: 'form-control'
  .col-md-7
    = f.label :city
    = f.text_field :city, class: 'form-control'
  .col-md-2
    = f.label :state
    = f.text_field :state, :size => 2, class: 'form-control'
