<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(client) -%>">
  <span class='title'>
    <% if client.company.nil? %>
        <%= "#{client.first_name} #{client.last_name}" %>
    <% else %>
        <%= "#{client.company} (#{client.first_name} #{client.last_name})" %>
    <% end %>

        </span>
  <span class='actions'>
    <%= action_icon(:preview, refinery.view_clients_admin_client_path(client), "View #{client.name_or_company}'s Profile") %>
    <%= action_icon(:edit, refinery.edit_clients_admin_client_path(client), t('.edit')) %>
    <%= action_icon(:delete, refinery.clients_admin_client_path(client), t('.delete'),
                    {class: "cancel confirm-delete",
                     data: {confirm: t('message', scope: 'refinery.admin.delete', title: client.first_name)}}) %>
  </span>
</li>
