= form_for [refinery, :clients_admin, @client] do |f|
  = render '/refinery/admin/error_messages', |
    object: @client,                      |
    :include_object_name => true
  %fieldset.form-group
    .row
      .col-md-6
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .col-md-6
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
    .row
      .col-md-12
        = f.label :company
        = f.text_field :company, class: 'form-control'
    = f.fields_for :address do |address|
      = render :partial => 'address', :locals => {:f => address}
    .row
      .col-md-12
        = f.label :from_date
      .col-md-12
        = f.date_select :from_date, {}, class: 'form-control dates'
  = render '/refinery/admin/form_actions', :f => f,                                                       |
    :continue_editing => false,                                                                           |
    :delete_title => t('delete', :scope => 'refinery.clients.admin.clients.client'),                      |
    :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @client.first_name) |