%div.client-home
  %section
    %h1= raw @client.full_name
  %section
    %h1 Projects
    %p
      - if @client.projects.empty?
        No Projects yet
      - else
        - @client.projects.each do |client_project|
          = client_project.title
  %section
    %h1 Testimonials
    %p
      - if @client.testimonials.empty?
        No Testimonials yet
      - else
        - @client.testimonials.each do |client_testimonial|
          = client_testimonial.description